NERON_CORE_HOST=0.0.0.0
NERON_CORE_PORT=8010

NERON_LLM_HOST=0.0.0.0
NERON_LLM_PORT=8765

NERON_MEMORY_HOST=0.0.0.0
NERON_MEMORY_PORT=8040

NERON_CORE_URL=http://u3-neron-core:8010
NERON_LLM_URL=http://u5-provider-llm-01:8765
NERON_MEMORY_URL=http://u4-neron-memory:8040
NERON_DOCTOR_URL=http://u9-watchdog-doctor:8090
NERON_HOMEASSISTANT_URL=http://u7-homeassistant:8123
