[submodule "core"]
	path = server/core
	url = git@github.com:enabeteleazar/neron_core.git

[submodule "goal"]
	path = server/goal
	url = git@github.com:enabeteleazar/neron_goal.git

[submodule "llm"]
	path = server/llm
	url = git@github.com:enabeteleazar/neron_llm.git

[submodule "server/memory"]
	path = server/memory
	url = git@github.com:enabeteleazar/neronMemory.git
