[submodule "core"]
	path = server/core
	url = git@github.com:enabeteleazar/neron_core.git

[submodule "goal"]
	path = server/goal
	url = git@github.com:enabeteleazar/neron_goal.git

[submodule "llm"]
	path = server/llm
	url = git@github.com:enabeteleazar/neron_llm.git

[submodule "server/memory"]
	path = server/memory
	url = https://github.com/enabeteleazar/neronMemory
[submodule "voice"]
	path = voice
	url = https://github.com/enabeteleazar/neron-voice
[submodule "client/neronVoice"]
	path = client/neronVoice
	url = git@github.com:enabeteleazar/neron-voice-interface.git
[submodule "client/neronHUB"]
	path = client/neronHUB
	url = git@github.com:enabeteleazar/neronHUB.git
[submodule "client/voice"]
	path = client/voice
	url = git@github.com:enabeteleazar/neronVoice.git
[submodule "server/watchdog"]
	path = server/watchdog
	url = git@github.com:enabeteleazar/neronWatchdog.git
[submodule "client/client"]
	path = client/client
	url = git@github.com:enabeteleazar/neronClient.git
[submodule "server/doctor"]
	path = server/doctor
	url = git@github.com:enabeteleazar/neronDoctor.git
